@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,600;1,700;1,800&display=swap');

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

:root {
  --color-primary: #0D6EFD;
  --color-scondary: #0B5ED7;
  --color-three: #122936;
}

a {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

h1.title { 
  text-align: center;
  font-weight: 100;
  font-size: 55px;
  letter-spacing: 2px;
  margin: 30px  0;
}

.btn { 
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .2s;
}

.btn:hover {
  transform: scale(1.1);
  background-color: var(--color-scondary);
}

/* Menu Principal */
.menu-principal {
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #dedede;
  display: flex;
}

.nav-imagen {
  height: 100%;
}

.nav-imagen img {
  width: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-enlaces a{
  border: 2px solid transparent;
  line-height: 50px;
  margin: 0 20px;
  color: #000;
  padding: 4px 10px;
  transition: all .2;
}

.nav-enlaces a:hover { 
  border: 2px solid var(--color-primary);
}

/* Header */
header {
  width: 100%;
  height: calc(100vh - 50px);
  background-image: url(img/wallpaper2.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

header::before {
  content: ' ';
  width: 100%;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

header div { 
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

header h1 {
  color: #fff;
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 100;
  margin: 20px 0;
  text-shadow: 5px 0 10px #000;
}

header button {
  width: 180px;
  height: 50px;
}

/* Productos */

.productos { 
  padding: 30px 100px;
}

.card { 
  position: relative;
  width: 33%;
  height: 420px;
  background-color: var(--color-three);
  overflow: hidden;
  border: none;
  float: left;
  margin: 1px;
}